body {
  font-family: "Open Sans", sans-serif;
  background-color: cadetblue;
}

h1, h2, h3, .card-body>.card-title {
  font-family: "Lobster", cursive;
}
.navbar-dark {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #649173, #dbd5a4);
}
.row-content {
  padding: 50px 0;
  border-bottom: 1px ridge;
  min-height: 200px;
}
#landingPage {
  height: 750px;
  background-image: url(/src/assets/homeImage.png);
  background-repeat: no-repeat repeat;
  background-position: center;
  background-size:cover;  
  font-weight: bold;
  margin-bottom: 100px;
  padding: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  align-content: center;
  text-align: center;
  text-shadow: wheat;
  align-items: center;
  color: blanchedalmond
};

.jumbotron h1, p{
  background-color: antiquewhite;
  padding: 50px;
}

#homePage {
  height: 200px;
  width: auto;
  background-image: url(/src/assets/homePage.jpg);
  background-position: center;
  background-repeat: no-repeat repeat;
  background-size: cover;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.site-footer {
  background-color: blanchedalmond;
  padding: 20px 0;
}

.modal-content {
  margin-top: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  border: 1px solid;
}

