body {
  font-family: "Open Sans", sans-serif;
  background-color: cadetblue;
}

h1 {
  font-family: "Lobster";
}
.navbar-dark {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to right, #649173, #dbd5a4);
}
#oldrow {
  padding: 50px 0;
  border-bottom: 1px ridge black;
  min-height: 200px;
}
#landingPage {
  height: 750px;
  background-image: url(/src/assets/homeImage.png);
  background-repeat: no-repeat repeat;
  background-position: center;
  background-size:cover;  
  font-weight: bold;
  margin-bottom: 100px;
  padding: 300px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  align-content: center;
  text-align: center;
  text-shadow: wheat;
  align-items: center;
  color: blanchedalmond
};

.jumbotron h1, p{
  background-color: antiquewhite;
  padding: 50px;
}

#whyfastpack {
  border-bottom: none;
  padding-top: 0px;
  min-height: none;
  padding-bottom: 0px;
}

#whyfastpackinfo {
  border-bottom: none;
  padding-top: 50px;
  min-height: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

#homePage {
  height: 200px;
  width: auto;
  background-image: url(/src/assets/homePage.jpg);
  background-position: center;
  background-repeat: no-repeat repeat;
  background-size: cover;
  margin-bottom: 50px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  padding: 50px;
}
#howtofastpack{
  border-top: 1px ridge black;
  padding: 50px;
  margin-top: 50px;
  border-bottom: none;
}

.site-footer {
  margin-top: 50px;
  background-color: blanchedalmond;
  padding: 20px;
}

.modal-content {
  margin-top: 40%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  border: 1px solid;
}

.card-title {
  font-weight: 500;
  font-size: 1.25rem;
  text-align: center;
}

.card-body{
  text-align: center;
}

.carousel{
  height:auto;
  width: 750px;
  overflow: hidden;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border-radius: 2%;
  border: 3px ridge black;
}
.carousel img {
  max-height: 650px;
  max-width: none;
  min-width: 100%;
  min-height: 50px;
}
.carousel-caption{
  background-color: rgba(0, 0, 0, 0.5);
}

